In [7]:
import mytools
import pandas as pd

In [8]:
数据表 = mytools.读取SPSS数据文件(R'data\identity.sav')

In [9]:
import pandas as pd
# 创建一个示例 DataFrame
data = {
    'Column1': [1, None, 3, None],
    'Column2': [4, None, None, None],
    'Column3': [7, 8, 9, None],
    'Column4': [7, 8, 9, None]
}
pd.DataFrame(data)

   Column1  Column2  Column3  Column4
0      1.0      4.0      7.0      7.0
1      NaN      NaN      8.0      8.0
2      3.0      NaN      9.0      9.0
3      NaN      NaN      NaN      NaN